<!doctype html>
<html lang="en-UK">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mood Journal</title>
  </head>
  <body>
  <a href="/login">Login</a>
    <h1>Mood Journal</h1>
        <p>Track your mood and get insights based on your data</p>
    <br>
    <h2>Choose your Journal</h2>
        <h3>Paid Tier</h3>
            <p>With our paid tier make use of your data by utilizing our analytics and insights module /n
            Our Insights module highlights patterns based on your journal entries</p>

        <h3>Free tier</h3>
            <p>With our free tier you get a CLI prompt that will run daily and ask you 3 short questions. /n
            You will also have the option to export your data in to a .csv file, allowing you to conduct your own analysis.</p>
    <br>


  </body>
</html>