<!doctype html>
<html lang="en-UK">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mood Journal</title>
  </head>
  <body>
  <header>
    <a href="/login.html">Login</a>
  </header>
  <main>
    <h1>MoodJournal</h1>
        <p>Track your mood and get insights based on your data</p>
    <br>

    <h2>Our mission</h2>
        <p>Our mission at MoodJournal is to provide our customers with a means to record and get insights on the daily activities /n
        that impact their mental health.
    <h2>Choose your Journal</h2>
        <h3>Paid Tier</h3>
            <p>With our paid tier make use of your data by utilizing our analytics and insights module /n
            Our Insights module highlights patterns based on your journal entries</p>

        <h3>Free tier</h3>
            <p>With our free tier you get a CLI prompt that will run daily and ask you 3 short questions. /n
            You will also have the option to export your data in to a .csv file, allowing you to conduct your own analysis.</p>
    <br>
        <h2>About us</h2>
        <p>MoodJournal is a GoldLab Studios creation. We are a small team working in the South West of the United Kingdom. /n
        Founded in 2025 we build apps that help endorse and enable a well-rounded lifestyle</p>
    <br>
        <h2>Contact Us</h2>
        <!--Contact information-->
  </main>
  <footer>
      <!-- footer info here -->
  </footer>
  </body>
  <script src="/script.js"></script>
</html>